/* .box{
  /* display:inline-flexbox; */


body{
  background: blanchedalmond;
}
.message{
  text-align: center;
}
h3{
  margin-top: 40px;
}

.heart-red{
  color: red; 
}

.heart-black{
  color: black; 
}

ul {
  list-style: none;
}

.morning{
  border: 7px solid red; 
}

.vibes{
  border: 5px solid purple; 
}

.productivity{
  border: 5px solid green; 
}

.workout{
  border: 5px solid yellow; 
}
